.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  min-height: calc(80vh - 6rem);
}

.home-container > h2 {
  font-size: large;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

.home-container > input {
  margin-bottom: 2rem;
}

.home-container > div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
