.modal-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  background-color: #d0db97;
  border-radius: 10px;
  border: 2px solid #4949494d;
  padding: 0.4rem;
}
